@import '../../styles/variables';

.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 74px;
  margin-bottom: 50px;
  min-height: calc(100vh - 444px);

  &Products {
    & > p {
      font-family: $fontFamily;
      font-size: 18px;
      font-weight: 700;
    }
    &Summary {
      margin: 10px 0 !important;
    }
  }
}
