@import '../../styles/variables';

.wrapper {
  max-width: 1360px;
  margin: 140px auto;
  display: flex;
  background-color: $backgroundColor;

  border-radius: 12px;
  padding: 30px 0;
  box-shadow: rgb(0 0 0 / 16%) 0px 4px 8px 0px, rgb(0 0 0 / 8%) 0px 0px 2px 1px;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
  &Right {
    flex-basis: 50%;
    & img {
      width: 100%;
      object-fit: cover;
      border-radius: 12px;
    }
  }
  &Left {
    flex-basis: 50%;
    position: relative;
    display: flex !important;
    flex-direction: column;
    justify-content: center;

    & h1 {
      font-family: $fontFamily;
      font-size: $fontSizeH1;
      margin: 20px 0;
    }
    & p {
      margin-top: 15px;
      font-family: $fontFamily;
    }
    & a {
      background-color: $primaryColor;
      border-radius: 12px;
      border-style: none;
      box-shadow: rgba(39, 174, 96, 0.15) 0 4px 9px;
      box-sizing: border-box;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      font-family: $fontFamily;
      font-size: 16px;
      font-weight: 600;
      letter-spacing: normal;
      line-height: 1.5;
      overflow: hidden;
      padding: 13px 20px;
      margin: 55px auto;
      width: 55%;
      transform: translate(0, -50%);
      text-align: center;
      text-decoration: none;
      transform: translate3d(0, 0, 0);
      transition: all 0.3s;
      text-transform: uppercase;

      &:hover {
        background-color: $secondaryColor;
        opacity: 1;
        transform: translateY(0);
        transition-duration: 0.35s;
      }

      &:active {
        transform: translateY(2px);
        transition-duration: 0.35s;
      }

      &:hover {
        box-shadow: rgba(39, 174, 96, 0.2) 0 6px 12px;
      }
    }
  }
}
