@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
// $fontFamily: 'Roboto', sans-serif;
$fontFamily: 'Montserrat', sans-serif;
// $fontFamily: 'Eczar', serif;
// $fontFamily: 'Lato, sans-serif';
// $fontColor: #309975;
$fontColor: #005b49;
$primaryColor: #005b49;
$secondaryColor: #00a887;

$thirdColor: #a82d00;
$fourColor: #5c1800;
$backgroundColor: #f9f9f9;
$colorWhite: #fff;

$fontSizeNormal: 16px;
$fontSizeXL: 21px;
$fontSizeXXL: 28px;
$fontSizeH1: 64px;
$fontSizeH2: 48px;
$fontSizeH3: 32px;
