@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
// $fontFamily: 'Roboto', sans-serif;
$fontFamily: 'Montserrat', sans-serif;
// $fontFamily: 'Eczar', serif;
// $fontFamily: 'Lato, sans-serif';
// $fontColor: #309975;
$fontColor: #005b49;
$primaryColor: #005b49;
$secondaryColor: #00a887;

$thirdColor: #a82d00;
$fourColor: #5c1800;
$backgroundColor: #4e9ac2;
