.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 100px;
  & a {
    text-decoration: none;
  }
  &Link {
    flex-basis: 21%;
    margin: 0 15px;
  }
}
.err {
  &Shown {
    opacity: 1;
    transition: all 250ms linear !important;
  }
  // &Hidden {
  //   opacity: 0;
  //   transition: all 250ms linear 2s !important;
  // }
}
