@import '../../styles/variables';
.card {
  margin: 10px 0px;
  width: 300px;
  display: flex;
  flex-direction: column;
  background-color: $backgroundColor !important;

  &:hover {
    box-shadow: rgb(0 0 0 / 16%) 0px 4px 8px 0px,
      rgb(0 0 0 / 8%) 0px 0px 2px 1px;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
    border-radius: 12px;
  }
  &Header span {
    font-family: $fontFamily;
    font-size: 20px;
    text-transform: capitalize;
  }
  &Price p,
  &Price button {
    font-family: $fontFamily;
  }
  &Price button {
    background-color: $primaryColor;
    border-radius: 12px;
    border-style: none;
    box-shadow: rgba(39, 174, 96, 0.15) 0 4px 9px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: $fontFamily;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 1.5;
    overflow: hidden;
    padding: 13px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all 0.3s;

    &:hover {
      background-color: $secondaryColor;
      opacity: 1;
      transform: translateY(0);
      transition-duration: 0.35s;
    }

    &:active {
      transform: translateY(2px);
      transition-duration: 0.35s;
    }

    &:hover {
      box-shadow: rgba(39, 174, 96, 0.2) 0 6px 12px;
    }
  }
}
