@import '../../styles/variables';

.wrapper {
  width: calc(100% - 64px);
  max-width: 1100px;
  margin: 100px auto;

  &Content {
    display: flex;

    &Image {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &Arrows {
      position: absolute;
      width: 100%;
      z-index: 102;
      height: 60px;
      top: calc(50% - 15px);
      left: 0;
      right: 0;

      &Left,
      &Right {
        margin: 0 10px;
        position: absolute;
        width: 54px;
        height: 54px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
        svg path {
          transition: all 0.35s ease-in-out;
        }
        &:hover {
          svg path {
            fill: #b4b4b4;
          }
        }
      }
      &Left {
        left: 0;
        transform: rotateY(180deg);
      }

      &Right {
        right: 0;
      }
    }

    &Sliders {
      display: flex;
      flex-direction: column;
      width: 60%;
      padding: 15px;

      &Upper {
        position: relative;
        margin: 10px 0;
        max-height: 300px;

        &Image {
          height: 100%;
        }
      }
      &Thumbnails {
        min-height: 100px;
        max-height: 100px;
      }
    }

    &Side {
      margin-left: 15px;
      width: 45%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 15px;

      &Header {
        & span {
          font-family: $fontFamily;
          font-size: 2.5rem;
          font-weight: bold;
        }

        &Stars {
          padding: 16px;
        }
      }

      &Description {
        padding: 16px;
        font-family: $fontFamily !important;
      }

      &Currency {
        font-family: $fontFamily !important;
        padding: 16px;
      }

      & button {
        appearance: none;
        backface-visibility: hidden;
        background-color: $primaryColor;
        border-radius: 12px;
        border-style: none;
        box-shadow: rgba(39, 174, 96, 0.15) 0 4px 9px;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-family: $fontFamily;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: normal;
        line-height: 1.5;
        outline: none;
        overflow: hidden;
        padding: 13px 20px;
        position: relative;
        text-align: center;
        text-decoration: none;
        transform: translate3d(0, 0, 0);
        transition: all 0.3s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: top;
        white-space: nowrap;

        &:hover {
          background-color: $secondaryColor;
          opacity: 1;
          transform: translateY(0);
          transition-duration: 0.35s;
        }

        &:active {
          transform: translateY(2px);
          transition-duration: 0.35s;
        }

        &:hover {
          box-shadow: rgba(39, 174, 96, 0.2) 0 6px 12px;
        }
      }
    }
  }
  &Thumb {
    position: relative;
    max-height: 100%;
    display: flex;
    justify-content: center;

    &Image {
      max-height: 90px;
      max-width: 90px;
    }
    &Nail {
      position: absolute;
      border-radius: 5px;
      background-color: $fontColor;
      width: 80%;
      height: 5px;
      bottom: 0;
      transition: 1s ease-in-out width;
    }
  }
}
