@import './CardDetail.module.scss';

@media only screen and (max-width: 1024px) {
  .wrapper {
    max-width: 100vw;
    &Content {
      flex-wrap: wrap;
      gap: 30px;
      &Sliders {
        width: 300px;
        padding: 0;
        margin: 0 auto;
        justify-content: center;
        &Upper {
          margin: 0;
          height: 200px;
          display: flex;
          align-items: center;
          &Image {
            max-height: 100%;
            max-width: 100%;
          }
        }
        &Thumbnails {
          display: none !important;
        }
      }
      &Side {
        width: 300px;
        margin: 0 auto;
      }
    }
  }
}
