@import '../../styles/variables';

.wrapper {
  padding: 30px 0;
  margin-bottom: 30px;
  text-align: center;
  &Header {
    font-size: $fontSizeH3;
  }
  &Paragraph {
    margin-top: 10px !important;
  }
}
